@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-Regular.woff2") format('woff2');
}
@font-face {
    font-family: 'light-e';
    src: url("fonts/Estedad-Thin.woff2") format('woff2');
    font-weight: lighter;
}
@font-face {
    font-family: 'estedad-100';
    src: url("fonts/Estedad-Regular.woff2") format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'lightbefornormal';
    src: url("fonts/Estedad-Light.woff2") format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'normal';
    src: url("fonts/Estedad-Medium.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-SemiBold.woff2") format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-Bold.woff2") format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-ExtraBold.woff2") format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'estedad';
    src: url("fonts/Estedad-Black.woff2") format('woff2');
    font-weight: bolder;
}
//Vazir----->
@font-face {
    font-family: Vazir-Thin;
    src: url('../fonts/webfonts/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-ExtraLight;
    src: url('../fonts/webfonts/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-Light;
    src: url('../fonts/webfonts/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-Regular;
    src: url('../fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-Medium;
    src: url('../fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-SemiBold;
    src: url('../fonts/webfonts/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-Bold;
    src: url('../fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-ExtraBold;
    src: url('../fonts/webfonts/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Vazir-Black;
    src: url('../fonts/webfonts/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  